<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" href="../css/normalize.css" />
        <link rel="stylesheet" href="../css/foundation.css" />
        <link rel="stylesheet" href="../css/styles.css" />
        <title>Hello World</title>
    </head>
    <body>
        <br>
        <div class="row">
            <div class="small-10 small-centered columns" style="margin-top:5em">
                <h1>Waiter!</h1>

<form class="signup">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Nombre</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="right-label" placeholder="">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Apellido</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="right-label" placeholder="">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Nombre de usurio</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="right-label" placeholder="">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Mail</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="right-label" placeholder="">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Dni</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="right-label" placeholder="">
        </div>
      </div>
      <input class="large button expand" value="ingresar">
  
</form>


                

            </div>
        </div>
        
        <script type="text/javascript" src="../js/vender/zepto.js"></script>
        <script type="text/javascript" src="../phonegap.js"></script>
        <script type="text/javascript" src="../js/index.js"></script>
        
        <script type="text/javascript">
            //app.initialize();
            // TODO hacer pantalla de cargando y bindear el evento "receivedEvent('deviceready');"
        </script>
    </body>
</html>
